@media screen and (max-width: 1000px) {
  .dots-image {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .dotsMobile {
    display: none;
  }
}
.title {
  position: relative;
}
.title .dotsMobile {
  position: absolute;
  top: 0;
  right: -120px;
  width: 100px;
}
@media screen and (max-width: 550px) {
  .title .dotsMobile {
    right: -80px;
  }
}
.HIWB-Section .HIWB-content h2 {
  text-align: center;
  padding-bottom: 80px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper {
  padding: 0 80px;
}
@media screen and (max-width: 1300px) {
  .HIWB-Section .HIWB-content .HIWB-wrapper {
    padding: 0;
  }
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks {
  display: flex;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info {
  padding-right: 70px;
}
@media screen and (max-width: 1000px) {
  .HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info {
    padding-right: 0;
  }
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info .title {
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info .title p {
  font-family: 'DINE-1451';
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info .title p:nth-child(1) {
  padding-bottom: 10px;
  font-size: 1.25rem;
  color: #B1B1B8;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info .title p:nth-child(2) {
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info .discription {
  display: flex;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info .discription-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 56px;
  height: 83px;
  margin-right: 40px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info .discription-text {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../image/cloudSpeach.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .info .discription-text p {
  font-family: 'RobotoMono-Regular';
  font-size: 0.875rem;
  color: #696974;
  padding: 30px 20px 30px 50px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blocks .dots-image {
  width: 130px;
  height: 136px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blockPosition {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}
@media screen and (max-width: 1000px) {
  .HIWB-Section .HIWB-content .HIWB-wrapper .blockPosition {
    padding-right: 0;
  }
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blockPosition .dots-image {
  order: 1;
  margin-top: 50px;
  margin-right: 55px;
  width: 139px;
  height: 127px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blockPosition .info {
  order: 2;
  max-width: 450px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blockPosition .info .title {
  align-items: flex-start;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blockPosition .info .discription {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .blockPosition .info .discription p {
  font-size: 0.875rem;
  background-color: #1371FD;
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info {
  padding-right: 50px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .title {
  text-align: right;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .title p:nth-child(2) {
  max-width: 250px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .discription-content {
  flex-direction: row !important;
  width: 100% !important;
  justify-content: space-around !important;
  margin-right: 0 !important;
  height: unset !important;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .discription-content .account {
  padding-right: 30px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .discription-content .account p {
  font-size: 0.75rem;
  font-family: 'RobotoMono-Regular';
  text-align: center;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .discription-content .account p:nth-of-type(1) {
  color: black;
  padding-top: 10px;
  padding-bottom: 7px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .discription-content .account p:nth-of-type(2) {
  color: #B1B1B8;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .discription-content .add {
  height: 100px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .discription-content .add p {
  font-family: 'RobotoMono-Regular';
  font-size: 0.75rem;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .discription-content .add p:nth-of-type(1) {
  border-radius: 50%;
  border: 1px solid #B1B1B8;
  padding: 20px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .info .discription-content .add p:nth-of-type(2) {
  text-align: center;
  padding-top: 13px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block03 .dots-image {
  width: 167px;
  height: 134px;
  margin-top: 50px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block04 .discription {
  padding-top: 0 !important;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block04 .dots-image {
  margin-top: 140px;
  margin-right: 10px;
  width: 200px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block05 .info {
  padding-left: 130px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block05 .info .title {
  text-align: right;
  max-width: 250px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block05 .info .discription {
  display: flex;
  justify-content: flex-end;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block05 .dots-image {
  margin-top: 70px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 {
  padding-right: 110px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription {
  padding-top: 0 !important;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription .chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription .chat p {
  background: unset;
  font-size: 0.875rem;
  color: #696974;
  font-family: 'RobotoMono-Regular';
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription .chat img {
  width: 56px;
  height: 56px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription .chat .you-content {
  display: flex;
  align-items: center;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription .chat .you-content .message {
  background-image: url("../../../image/cloudSpeach2.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 30px;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription .chat .someone {
  margin-right: -150px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  align-self: flex-end;
}
@media screen and (max-width: 1000px) {
  .HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription .chat .someone {
    margin-right: 0;
  }
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription .chat .someone .avatar {
  order: 2;
}
.HIWB-Section .HIWB-content .HIWB-wrapper .block06 .discription .chat .someone .message {
  order: 1;
  background-image: url("../../../image/cloudSpeach3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 10px;
  padding: 15px;
}
