.success_frame {
  padding: 48px 0 35px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.success_frame .success-icon {
  width: inherit;
  margin-bottom: 32px;
}
.success_frame .success_title {
  color: #171725;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 23px;
}
.success_frame .success_subtitle {
  color: #696974;
  font-size: 16px;
  letter-spacing: 0.5px;
}
