.task-type-controls_frame {
  background: #f7f7f7;
  border-bottom: 1px solid #e9e9ed;
  margin: 0 -32px;
  padding: 23px 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card-set {
  display: flex;
  justify-content: space-between;
}
.card-set_margin-between {
  margin-top: 16px;
}
.task-type_card {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border: 0.5px solid #e9e9ed;
  background: #fdfdfd;
  max-width: 280px;
  flex-grow: 1;
  box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  font-size: 15px;
  transition: 0.1s;
}
.task-type_card img {
  width: auto;
}
.task-type_card .task-type_card--info-box {
  color: #171725;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 85%;
}
.task-type_card .task-type_card--info-box img {
  margin-right: 16px;
}
.task-type_card .task-type_card--select-circle {
  border: 1px solid #e9e9ed;
  background: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-type_card .task-type_card--select-circle img {
  max-width: 8px;
  max-height: 8px;
}
.task-type_card:hover .task-type_card--select-circle {
  transition: 0.1s;
  border: solid 1px #a1a1a1 !important;
}
@media screen and (max-width: 660px) {
  .card-set {
    flex-direction: column;
    margin-bottom: 0;
  }
  .card-set_margin-between {
    margin-top: 0;
  }
  .card-set .task-type_card {
    max-width: 100%;
    margin-bottom: 16px;
  }
  .task-type_card-mobile-margin-bottom {
    margin-bottom: 0!important;
  }
}
