.TC-Cardbox {
	width: 300px;
	background: rgb(255, 255, 255);
	border-radius: 11px;
	border: solid 1px #e9e9ed;
}
.TC-img-frame {
	background: white;
	border: solid 1px #e9e9ed;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	padding: 10px;
	border-radius: 8px;
	margin-top: -50px;
}
.TC-text-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center;
	text-align: center;
	font-size: 15px;
	line-height: 160%;
	font-family: "RobotoMono-Regular";
}
.TC-text-body {
	margin-bottom: 40px;
}
@media screen and (max-width: 1280px) {
	.TC-Cardbox {
		margin: 0 15px 30px 15px;
	}
}
@media screen and (max-width: 500px) {
	.TC-Cardbox {
		background: rgb(255, 255, 255);
		width: 100%;
		padding: 20px;
	}
	.TC-img-box {
		display: none;
	}
	.TC-img-frame {
		min-width: 63px;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 30px;
		border: none;
	}
	.TC-text-box {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		flex-direction: row;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-moz-box-pack: start;
		justify-content: flex-start;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		align-items: center;
		text-align: left;
		font-size: 15px;
		line-height: 160%;
		font-family: "RobotoMono-Regular";
	}
	.TC-text-body {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		align-items: center;
		margin: 0;
	}
}