.promo-card-body {
	padding: 1em;
	background: white;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	border-radius: 8px;
	max-width: 41%;
	margin: 0 0 25px 25px;
}

.promo-card-img-box {
	padding: 0 15px 0 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
}

.promo-card-text-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
}

.pc-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgb(38, 77, 252);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center;
	color: white;
}

.pc-title {
	font-size: 18px;
	font-family: "DINE-1451";
	color: #171725;
	margin-bottom: 10px;
}

.pc-subtitle {
	margin-bottom: 20px;
	font-size: 14px;
	color: #b1b1b8;
	font-family: "RobotoMono-Regular";
}

.pc-text-body {
	color: #696974;
	font-size: 14px;
	font-family: "RobotoMono-Regular";
	line-height: 140%;
}

@media screen and (max-width: 1000px) {
	.promo-card-body {
		margin-left: 0;
		max-width: 60%;
	}
}

@media screen and (max-width: 600px) {
	.promo-card-body {
		margin-left: 0;
		max-width: 80%;
	}
}
