section > img.large_image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  section > img.large_image {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
}
@media screen and (min-width: 1700px) {
}
section > img.mobile_image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 610px;
  z-index: -1;
}
@media screen and (min-width: 1000px) {
  section > img.mobile_image {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  section > img.mobile_image {
    display: block;
  }
}
section .grid_wrapper {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-areas: "section_title  code" "section_text  image " "button        image";
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper {
    padding-top: 40px;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas: "section_title  section_title " "button        button  " "image         code" "section_text  section_text ";
  }
}
section .grid_wrapper .section_title {
  grid-area: section_title;
  align-self: center;
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .section_title {
    justify-self: center;
  }
}
section .grid_wrapper .section_title h1 {
  font-family: 'DINE-1451';
  font-size: 3.875rem;
  line-height: 70px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1600px) {
  section .grid_wrapper .section_title h1 {
    width: 720px;
    font-size: 3.875rem;
  }
}
@media screen and (min-width: 1200px) {
  section .grid_wrapper .section_title h1 {
    font-size: 3rem;
    line-height: 70px;
  }
}
@media screen and (max-width: 1100px) {
  section .grid_wrapper .section_title h1 {
    font-size: 2.7rem;
    line-height: 50px;
  }
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .section_title h1 {
    color: white;
    font-size: 1.75rem;
    width: 280px;
    line-height: 40px;
    text-align: center;
  }
}
section .grid_wrapper .section_title h1 span {
  color: #1371FD;
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .section_title h1 span {
    color: white;
    border-bottom: 2px solid white;
  }
}
section .grid_wrapper .section_text {
  grid-area: section_text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .section_text {
    align-items: center;
    padding-top: 40px;
  }
}
section .grid_wrapper .section_text p {
  font-family: 'RobotoMono-Regular';
  font-size: 0.9375rem;
  color: #696974;
  line-height: 20px;
}
@media screen and (max-width: 500px) {
  section .grid_wrapper .section_text p {
    align-items: center;
    padding-top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .section_text p {
    font-size: 1.0625rem;
    color: white;
    max-width: 335px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid white;
  }
}
@media screen and (max-width: 1100px) {
  section .grid_wrapper .section_text p {
    font-size: 0.8rem;
  }
}
section .grid_wrapper .section_text .arrow img.large {
  width: 32px;
  margin-right: 32px;
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .section_text .arrow img.large {
    display: none;
  }
  section .grid_wrapper .section_text .arrow img.large:nth-child(1) {
    position: absolute;
    top: 220px;
    left: 320px;
  }
  section .grid_wrapper .section_text .arrow img.large:nth-child(1):hover {
    background-color: blue;
  }
  section .grid_wrapper .section_text .arrow img.large:nth-child(2) {
    position: absolute;
    top: 220px;
    right: 320px;
  }
  section .grid_wrapper .section_text .arrow img.large:nth-child(2):hover {
    background-color: purple;
  }
}
section .grid_wrapper .section_text .arrow img.mobile {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .section_text .arrow img.mobile {
    display: block;
  }
  section .grid_wrapper .section_text .arrow img.mobile.ArrowLeft {
    position: absolute;
    top: calc(193px);
    left: 30px;
  }
  section .grid_wrapper .section_text .arrow img.mobile.ArrowLeft:hover {
    background-color: blue;
  }
  section .grid_wrapper .section_text .arrow img.mobile.ArrowRight {
    position: absolute;
    top: calc(193px);
    right: 30px;
  }
  section .grid_wrapper .section_text .arrow img.mobile.ArrowRight:hover {
    background-color: purple;
  }
}
section .grid_wrapper .button {
  grid-area: button;
  align-self: end;
}
@media screen and (min-width: 1601px) {
  section .grid_wrapper .button {
    align-self: center;
  }
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .button {
    justify-self: center;
    padding-bottom: 29px;
  }
}
section .grid_wrapper .button button {
  display: flex;
  align-items: center;
  font-family: 'RobotoMono-Regular';
  font-size: 1rem;
  color: white;
  padding: 13px 32px;
  border: none;
  background: #1371FD;
  border-radius: 4px;
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .button button {
    padding: 8px 12px;
    background-color: white;
    color: #1371FD;
  }
}
section .grid_wrapper .button button span {
  width: 12px;
  height: 1px;
  background-color: white;
  display: block;
  margin-left: 12px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .button button span {
    display: none;
  }
}
section .grid_wrapper .button button span::after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  top: -3px;
  right: 0;
  width: 7px;
  height: 1px;
  transform: rotate(45deg);
}
section .grid_wrapper .button button span::before {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  top: 3px;
  right: 0;
  width: 7px;
  height: 1px;
  transform: rotate(-45deg);
}
section .grid_wrapper .code_window {
  grid-area: code;
  justify-self: start;
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .code_window {
    align-self: center;
  }
}
section .grid_wrapper .code_window .code_block {
  width: 400px;
  height: 203px;
  background-color: grey;
  margin-top: -30px;
  margin-left: 130px;
}
@media screen and (max-width: 1200px) {
  section .grid_wrapper .code_window .code_block {
    width: 350px;
    height: 180px;
  }
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .code_window .code_block {
    margin-top: 0;
    margin-left: -25px;
    width: 181px;
    height: 122px;
  }
}
section .grid_wrapper .working_image {
  grid-area: image;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .working_image {
    justify-content: flex-end;
  }
}
section .grid_wrapper .working_image img {
  margin-top: -50px;
  max-width: 40%;
}
@media screen and (max-width: 1200px) {
  section .grid_wrapper .working_image img {
    max-width: 38%;
    margin-top: -30px;
  }
}
@media screen and (max-width: 1000px) {
  section .grid_wrapper .working_image img {
    max-width: 165px;
    height: 155px;
    margin-top: 0;
  }
}
@media screen and (max-width: 500px) {
  section .grid_wrapper .working_image img {
    max-width: 155px;
    height: 145px;
  }
}
