.languages-plug {
  color: red;
}
.languages_input::placeholder {
  color: #b1b1b8;
}
.languages-selected-tags_output {
  border-bottom: 1px solid #e9e9ed;
  margin: 16px 0 24px 0;
  padding-bottom: 8px;
  min-height: 45px;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
}
.languages-selected-tags_output .selected_tag {
  background: #1371fd;
  padding: 0 14px;
  height: 28px;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  margin: 0 8px 8px 0;
  transition: 0.3s;
}
.languages-selected-tags_output .selected_tag p {
  user-select: none;
  font-size: 14px;
  height: 16px;
}
.languages-selected-tags_output .selected_tag img {
  width: inherit;
  margin-left: 8px;
}
.languages-selected-tags_output .selected_tag img:hover {
  cursor: pointer;
}
.languages-popular-tags_output {
  margin: 0 0 24px 0;
  padding: 0 0 8px 0;
  min-height: 28px;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
}
.languages-popular-tags_output .popular_tag {
  border: 1px solid #e9e9ed;
  padding: 0 14px;
  height: 28px;
  border-radius: 4px;
  color: #696974;
  display: flex;
  align-items: center;
  margin: 0 8px 8px 0;
  transition: 0.3s;
}
.languages-popular-tags_output .popular_tag:hover {
  transition: 0.2s;
  border: 1px solid rgba(19, 113, 253, 0.3);
  box-shadow: 0px 0px 2px #2168eb;
  cursor: pointer;
}
.languages-popular-tags_output .popular_tag p {
  user-select: none;
  font-size: 14px;
  height: 16px;
}
