input {
	padding: 20px 16px;
	border-radius: 8px;
	border: 1px solid #e9e9ed;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	font-size: 15px;
	color: #171725;

	&:focus {
		box-shadow: 0px 0px 2px #2168eb;
		-webkit-transition: 0.2s;
		transition: 0.2s;
		border: solid 1px rgba(19, 113, 253, 0.3);
	}

	&::placeholder {
		color: #b1b1b8;
	}
	
}

textarea {
	resize: none;
	padding: 7px 16px;
	border-radius: 8px;
	border: 1px solid #e9e9ed;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	font-size: 15px;
	color: #171725;

	&:focus {
		box-shadow: 0px 0px 2px #2168eb;
		-webkit-transition: 0.2s;
		transition: 0.2s;
		border: solid 1px rgba(19, 113, 253, 0.3);
	}
}

@media screen and (max-width: 410px) {
	input {
		&::placeholder {
			font-size: 13px;
		}
	}
}

@media screen and (max-width: 368px) {
	input {
		&::placeholder {
			color: transparent!important;
		}
	}
}

// .wizard-content {
	
	
// 	overflow: hidden;
// }

// .wizard-content-appear {
// 	opacity: 0;
// }

// .wizard-content-appear-active {
// 	opacity: 1;
// 	transition: opacity 500ms linear;
// }

.headerForm-enter {
    animation: 0.8s flipInX ease;
}

.headerForm-leave {
    animation: 0.5s flipOutX ease;
}

.tags-fade-enter {
	opacity: 0;
	transform: scale(0.9);
}

.tags-fade-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 500ms;
}
.tags-fade-exit {
	opacity: 1;
}
.tags-fade-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 500ms;
}




.wizard-content-enter {
	opacity: 0;
	// transform: scale(0.9);
}
.wizard-content-enter-active {
	opacity: 1;
	transition: opacity 500ms;
	// transform: translateX(0);
	// transition: opacity 300ms, transform 300ms;
}
.wizard-content-exit {
	opacity: 1;
}
.wizard-content-exit-active {
	opacity: 0;
	transition: opacity 500ms;
	// transform: scale(0.9);
	// transition: opacity 200ms, transform 300ms;
}

