.attach-file-button {
	color: #1371fd;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	font-weight: bold;
	font-size: 14px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	cursor: pointer;
}

.attached-file_box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;

	.attached-file-name {
		color: #696974;
		font-size: 14px;
		font-weight: 500;
		margin-right: 10px;
	}

	.attached-file-icon {
		margin-right: 10px;
	}

	.attached-file-selected-icon {
		display: none;
		margin-right: 10px;
	}

	.delete-attached-file-icon {
		opacity: 0;
		cursor: pointer;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}

	img {
		width: inherit;
	}

	.attached-file_wrapper {
		cursor: default;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		align-items: center;
		margin-bottom: 16px;

		&:hover .attached-file-selected-icon {
			display: block;
		}

		&:hover .delete-attached-file-icon {
			opacity: 1;
		}

		&:hover .attached-file-icon {
			display: none;
		}
	}
}

.front-end_input-wrapper {
	position: relative;

	.error-message_label {
		pointer-events: none;
		font-size: 14px;
		color: transparent;
	}
	.front-end_input {
		pointer-events: auto;
		width: 100%;
	}
	.front-end_input_remove-button {
		cursor: pointer;
		position: absolute;
		right: 13px;
		top: 29px;
		border: 1px solid #e9e9ed;
		height: 32px;
		width: 32px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		align-items: center;
		border-radius: 50%;

		&:hover {
			-webkit-transition: 0.1s;
			transition: 0.1s;
			border: solid 1px #a1a1a1 !important;
		}

		img {
			width: auto;
		}
	}
}
