.WB-Section {
  background-color: #F9F9FB;
}
.WB-Section .WB-content {
  display: flex;
  align-items: center;
  padding: 100px 0 80px 0;
}
@media screen and (max-width: 1150px) {
  .WB-Section .WB-content {
    flex-direction: column;
    padding-top: 60px;
  }
}
.WB-Section .WB-content h2 {
  width: 300px;
}
@media screen and (max-width: 1150px) {
  .WB-Section .WB-content h2 {
    padding-bottom: 80px;
  }
}
.WB-Section .WB-content .person-card {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (max-width: 1150px) {
  .WB-Section .WB-content .person-card {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1000px) {
  .WB-Section .WB-content .person-card {
    flex-direction: column;
    align-items: center;
  }
}
.WB-Section .WB-content .person-card .person {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 403px;
}
@media screen and (max-width: 1220px) {
  .WB-Section .WB-content .person-card .person {
    max-width: calc(300px - 30px);
    height: calc(403px - 30px);
  }
}
@media screen and (max-width: 1150px) {
  .WB-Section .WB-content .person-card .person {
    max-width: calc(300px - 40px);
    height: calc(403px - 40px);
  }
}
@media screen and (max-width: 1110px) {
  .WB-Section .WB-content .person-card .person {
    max-width: calc(300px);
    height: calc(403px);
  }
}
@media screen and (max-width: 1000px) {
  .WB-Section .WB-content .person-card .person {
    display: none;
  }
}
.WB-Section .WB-content .person-card .person .person-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 0 20px;
  background-image: url("../../../image/Ika.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.WB-Section .WB-content .person-card .person .person-image > p {
  font-family: 'DINE-1451';
  font-size: 2rem;
  color: white;
  letter-spacing: 2px;
}
.WB-Section .WB-content .person-card .person .person-image .linkid-logo {
  padding: 24px 0 40px 0;
  width: 20px;
  height: 20px;
}
.WB-Section .WB-content .person-card .person .person-image + p {
  margin-top: auto;
  padding: 16px 20px;
  background-color: #2473EA;
  color: white;
  font-family: 'RobotoMono-Regular';
  font-size: 0.9375rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.WB-Section .WB-content .person-card .person.liza {
  height: 424px !important;
}
@media screen and (max-width: 1220px) {
  .WB-Section .WB-content .person-card .person.liza {
    height: calc(424px - 30px) !important;
  }
}
@media screen and (max-width: 1150px) {
  .WB-Section .WB-content .person-card .person.liza {
    height: calc(424px - 40px) !important;
  }
}
@media screen and (max-width: 1150px) {
  .WB-Section .WB-content .person-card .person.liza {
    height: calc(424px) !important;
  }
}
.WB-Section .WB-content .person-card .person.liza .person-image {
  background-image: url("../../../image/Liza.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.WB-Section .WB-content .person-card .person.liza .person-image + p {
  padding-top: 13px;
  line-height: 17px;
}
.WB-Section .WB-content .person-card .person.roma .person-image {
  background-image: url("../../../image/Roma.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile {
  display: flex !important;
  max-width: 380px;
}
@media screen and (max-width: 1000px) {
  .WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile {
    display: none !important;
  }
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile .person-card-image img {
  width: 90px;
  height: 129px;
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile .person-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 16px;
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile .person-card-text p:nth-child(1) {
  font-size: 1.125rem;
  font-family: 'RobotoMono-Bold';
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile .person-card-text p:nth-child(2) {
  font-size: 0.875rem;
  font-family: 'RobotoMono-Regular';
  color: #696974;
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile .person-card-text .person-card-logo {
  width: 20px;
  height: 20px;
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile.liza {
  border-bottom: 2px solid #E9E9ED;
  border-top: 2px solid #E9E9ED;
  padding: 20px 0;
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile.liza .person-card-image img {
  width: 90px;
  height: 140px;
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile.ika {
  padding-bottom: 20px;
}
.WB-Section .WB-content .person-card .person-mobile-block .person-card-mobile.roma {
  padding-top: 20px;
}
