h2 {
  font-size: 3rem;
  font-family: 'DIN';
}
.TB-Section .TB-content .TB-title {
  max-width: 670px;
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
}
.TB-Section .TB-content .TB-title p {
  font-size: 0.9375rem;
  font-family: 'RobotoMono-Regular';
  color: #696974;
  max-width: 500px;
  margin: 0 auto;
  padding: 16px 0 90px 0;
}
@media screen and (max-width: 1000px) {
  .TB-Section .TB-content .center {
    justify-content: center;
    display: flex;
  }
}
.TB-Section .TB-content .center .TB-card {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .TB-Section .TB-content .center .TB-card {
    flex-direction: column;
    max-width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .TB-Section .TB-content .center .TB-card {
    flex-direction: column;
    max-width: 80%;
  }
}
