.TB-Section {
	
	padding-top: 120px;
	padding-bottom: 120px;
}
.TB-code-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
}
h2 {
	font-size: 3rem;
	font-family: "DIN";
	line-height: 140%;
}
.TB-Section .TB-content .TB-title {
	max-width: 670px;
	text-align: center;
	margin: 0 auto;
}
.TB-Section .TB-content .TB-title p {
	font-size: 0.9375rem;
	font-family: "RobotoMono-Regular";
	color: #696974;
	max-width: 500px;
	margin: 0 auto;
	line-height: 160%;
	padding: 16px 0 90px 0;
}
@media screen and (max-width: 1280px) {
	.TB-code-box {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		justify-content: center;
	}
}
.TB-Section .TB-content .center .TB-card {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
}
@media screen and (max-width: 1000px) {
	.TB-Section .TB-content .center {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		justify-content: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
	}
	.TB-Section .TB-content .center .TB-card {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		flex-direction: column;
		max-width: 60%;
	}

	.TB-Section {
		padding-top: 40px !important;
		padding-bottom: 40px !important;
	}

	.TB-Section .TB-content .TB-title p {
		padding-bottom: 60px;
		position: relative;
	}

	.TB-Section .TB-content .TB-title p::after {
		content:"";
		position: absolute;
		display: block;
		width: 40px;
		height: 2px;
		left: calc(50% - 20px);
		bottom: 30px;
		background-color: #1371FD;
	}
}
@media screen and (max-width: 600px) {
	.tb-card-linebreak {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.TB-Section .TB-content .center .TB-card {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		flex-direction: column;
		max-width: 80%;
	}
}
@media screen and (max-width: 425px) {
	.TB-title-h2 {
		font-size: 24px;
	}
	.TB-title-p {
		font-size: 17px;
	}
}
