footer {
  background-color: #f9f9fb;
  padding: 50px 0 10px 0;
}
footer .footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media screen and (max-width: 1000px) {
  footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
  }
}
footer .footer-wrapper p,
footer .footer-wrapper a {
  color: #696974;
}
footer .footer-wrapper .footer-logoch {
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding-left: 100px;
}
@media screen and (max-width: 1000px) {
  footer .footer-wrapper .footer-logoch {
    padding-left: 0;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    order: 2;
  }
}
@media screen and (max-width: 1000px) {
  footer .footer-wrapper .footer-logoch .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    border-top: 2px solid #e9e9ed;
    padding-top: 20px;
  }
}
footer .footer-wrapper .footer-logoch .content img {
  width: 151px;
  height: 42px;
}
footer .footer-wrapper .footer-logoch .content p {
  font-family: "RobotoMono-Regular";
  font-size: 0.875rem;
  width: 230px;
  padding-top: 20px;
}
@media screen and (max-width: 1000px) {
  footer .footer-wrapper .footer-logoch .content p {
    width: 100%;
  }
}
footer .footer-wrapper .footer-contact {
  width: 55%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
@media screen and (max-width: 1000px) {
  footer .footer-wrapper .footer-contact {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    order: 1;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    padding-bottom: 10px;
  }
}
footer .footer-wrapper .footer-contact p {
  font-family: "DINE-1451";
  font-size: 1.125rem;
  color: black;
  padding-bottom: 16px;
}
footer .footer-wrapper .footer-contact a {
  font-size: 0.875rem;
  padding-bottom: 16px;
}
footer .footer-wrapper .footer-contact .general {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  margin-right: 130px;
}
@media screen and (max-width: 1000px) {
  footer .footer-wrapper .footer-contact .general {
    padding-right: 80px;
    margin-right: 0;
  }
}
