.footer-main {
	background-color: #f9f9fb;
	padding: 65px 0;
	.footer-wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: flex;
		-webkit-justify-content: space-around;
		justify-content: space-around;

		@media screen and (max-width: 1000px) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-moz-box-orient: vertical;
			-moz-box-direction: normal;
			flex-direction: column;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			align-items: center;
		}

		p,
		a {
			color: #696974;
		}

		.footer-logoch {
			width: 35%;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: flex;
			padding-left: 100px;

			@media screen and (max-width: 1000px) {
				padding-left: 0;
				width: 100%;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				-moz-box-pack: center;
				justify-content: center;
				-webkit-box-ordinal-group: 3;
				-webkit-order: 2;
				-moz-box-ordinal-group: 3;
				order: 2;
			}

			.content {
				@media screen and (max-width: 1000px) {
					display: -webkit-box;
					display: -webkit-flex;
					display: -moz-box;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-webkit-flex-direction: column;
					-moz-box-orient: vertical;
					-moz-box-direction: normal;
					flex-direction: column;
					-webkit-box-align: center;
					-webkit-align-items: center;
					-moz-box-align: center;
					align-items: center;	
					margin-top: 20px;
				}

				img {
					width: 151px;
					height: 42px;
					margin-bottom: 20px;
				}

				p {
					font-family: "RobotoMono-Regular";
					font-size: 0.875rem;
					line-height: 22px;
					width: 230px;

					@media screen and (max-width: 1000px) {
						width: 100%;
					}
				}
			}
		}

		.footer-contact {
			width: 55%;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: flex;
			

			@media screen and (max-width: 1000px) {
				-webkit-box-ordinal-group: 2;

				-webkit-order: 1;

				-moz-box-ordinal-group: 2;
				border-bottom: 1px #e9e9ed solid;
				order: 1;
				width: 97%;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				-moz-box-pack: center;
				justify-content: center;
				margin-bottom: 10px;
			}

			p {
				font-family: "DINE-1451";
				font-size: 1.125rem;
				color: black;
				margin-bottom: 40px;
			}

			a {
				font-size: 0.875rem;
				margin-bottom: 28px;
			}

			.general {
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-box;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-webkit-flex-direction: column;
				-moz-box-orient: vertical;
				-moz-box-direction: normal;
				flex-direction: column;
				margin-right: 130px;
				@media screen and (max-width: 1000px) {
					padding-right: 80px;
					margin-right: 0;
				}
			}
		}
	}
}
