.SB-Section {
  padding: 120px 0;
  background: #fafafc;
}
.upperServicesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicesTitle {
  margin-bottom: 80px;
  color: #171725;
}
.servicesButtonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 43px;
  min-width: 282px;
  min-height: 48px;
  border-radius: 32px;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 160%;
  font-family: "DINE-1451";
  background: #e9e9ed;
  position: relative;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 80px;
}
.buttonSwitch {
  position: absolute;
  right: 0;
  border-radius: 32px;
  z-index: 1;
  min-width: 139px;
  min-height: 48px;
  background: #1371fd;
  transition: 0.5s;
}
.frontendButton {
  cursor: pointer;
  z-index: 2;
  color: #171725;
  padding: 5px 5px 5px 0;
  transition: 0.2s;
}
.backendButton {
  cursor: pointer;
  z-index: 2;
  color: white;
  padding: 5px 0 5px 5px;
  transition: 0.2s;
}
.backendButton:hover + .buttonSwitch {
  right: 143px;
}
.backendButton:hover {
  color: #171725;
}
