.App {
	max-width: 1320px;
	margin: 0 auto;
	
}

@media screen and (max-width: 1345px) {
	.App {
		padding: 0 20px;
	}
}

@media screen and (max-width: 1000px) {
	.App {
		padding: 0 10px;
	}
}

@media screen and (max-width: 500px) {
	.App {
		padding: 0 5px;
	}
}
