@import "../../mixins.less";

nav {
	.wrapper {
		.nav_wrapper {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: flex;
			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-moz-box-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			align-items: center;
			padding-top: 16px;
			width: 100%;

			.logo-mobile-nav {
				width: 116px;
				height: 32px;

				@media screen and (max-width: 1000px) {
					display: block;
				}
				@media screen and (min-width: 1000px) {
					display: none;
				}
			}
			.logo-desktop-nav {
				width: 116px;
				height: 32px;

				@media screen and (max-width: 1000px) {
					display: none;
				}
				@media screen and (min-width: 1000px) {
					display: block;
				}
			}

			.navigation {
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-box;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				-moz-box-align: center;
				align-items: center;

				.nav_desctop {
					@media screen and (max-width: 1000px) {
						display: none;
					}

					a {
						font-family: "RobotoMono-Regular";
						font-size: 0.875rem;
						color: black;
						letter-spacing: 1px;
						margin-right: 2.5rem;
						font-weight: 500;

						&:last-of-type {
							color: blue!important;
							padding: 8px 16px!important;
							background-color: white!important;
							border-radius: 6px!important;
						}
					}
				}
			}
		}
	}
}

.mobile-navigation_display {
	display: none;
	@media screen and (max-width: 1000px) {
		display: block;
	}
}
