.modal-content_box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	
	.modal-content_subtitle {
		color: #696974;
		margin-bottom: 17px;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}

	.about-company_input {
		margin-bottom: 27px;
	}

	
}
